<html>
	<head>
		<title>Praktyczna Pani</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fontello.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:ital,wght@0,400;0,600;1,700&display=swap" rel="stylesheet">
		<style>
			#container
			{
				width:1400px;
			}
			#content
			{
				width:1200px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<div id="topbar">
				<div id="logo">
					<h1>Praktyczna Pani</h1>
				</div>
				<div id="Basket">
					<i  class="icon-basket">&#8291;</i>
				</div>
				<a href="{{url_for('login')}}">
					<div id="Account">
						<i  class="icon-user-circle">&#8291;</i>
					</div>
				</a>
			</div>
			<div id="nav">
				<div id="nav-options">
					<a href="{{url_for('index')}}">
						<div class="nav-option">
							<p>Strona główna</p>
						</div>
					</a>
					<a href={{url_for('kategorie')}}>
						<div class="nav-option">
							<p>Sklep</p>
						</div>
					</a>
					<div class="nav-option">
						<p>Blog</p>
					</div>
					<div class="nav-option">
						<p>O nas</p>
					</div>
					<div class="nav-option">
						<p>Kontakt</p>
					</div>
				</div>
			</div>
			<div id="content">
				<div class="basket">
					<div class="basket-hedder">
						<b>
							<p>Koszyk</p>
						</b>
					</div>
					{% for key, value in products.items() %}
						{% for id, number in value.items() %}
						<div class="basket-items">
							<img src="{{ url_for('static', filename='img/'+maseczka[id]['image']) }}" width="150px" height="150px">
							<div class="basket-info">
								<b>
									<p>{{maseczka[id]['name']}}</p>
								</b>
							</div>
							<div class="basket-mat">
								<div class="basket-price">
									<b>
										<p>{{maseczka[id]['price'] * number}}.00zł</p>
									</b>
								</div>
								<div class="basket-numbers">
									<a href="{{url_for('addtobasket', product=key, id=id, addorundo='undo')}}">
										<div class="left-arrow">
											❮
										</div>
									</a>
									<div class="basket-number">
										<b>
											<p>{{number}}</p>
										</b>
									</div>
									<a href="{{url_for('addtobasket', product=key, id=id, addorundo='add')}}">
										<div class="right-arrow">
										❯
										</div>
									</a>
								</div>
							</div>
						</div>
						{% endfor%}
					{% endfor %}
				</div>
			</div>
		</div>
		<div id="fotter">
			<div class="socials">
				<a href="https://www.facebook.com/Praktyczna-pani-103977331815634">
					<div class="fb">
						<i class="icon-facebook"></i>
					</div>
				</a>
				<div class="tw">
					<i class="icon-twitter"></i>
				</div>
				<div class="ig">
					<i class="icon-instagram"></i>
				</div>
				<div class="mail">
					<i class="icon-mail"></i>
				</div>
			</div>
			<p>2021 Praktyczna Pani.pl&copy; wszelkie prawa zastrzeżone</p>
		</div>
	</body>
</html>