<html>
	<head>
		<title>Praktyczna Pani</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fontello.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:ital,wght@0,400;0,600;1,700&display=swap" rel="stylesheet">
		<style>
			#container
			{
				width:1400px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<div id="topbar">
				<div id="logo">
					<h1>Praktyczna Pani</h1>
				</div>
				<a href="{{url_for('basket')}}">
					<div id="Basket">
						<i  class="icon-basket">&#8291;</i>
					</div>
				</a>
				<a href="{{url_for('accountaboutme')}}">
					<div id="Account">
						<i  class="icon-user-circle">&#8291;</i>
					</div>
				</a>
			</div>
			<div id="nav">
				<div id="nav-options">
					<a href="{{url_for('index')}}">
						<div class="nav-option">
							<p>Strona główna</p>
						</div>
					</a>
					<a href={{url_for('kategorie')}}>
						<div class="nav-option">
							<p>Sklep</p>
						</div>
					</a>
					<div class="nav-option">
						<p>Blog</p>
					</div>
					<div class="nav-option">
						<p>O nas</p>
					</div>
					<div class="nav-option">
						<p>Kontakt</p>
					</div>
				</div>
			</div>
			<div id="content">
				{%for templates in postadvanced%}
					{%if templates.templateid == 1%}
						<div class="template1">
							<div class="template1-img">

							</div>
							<div class="template1-text">
								<p>{{templates.text}}</p>
							</div>
						</div>
					{%endif%}
					{%if templates.templateid == 2%}
						<div class="template2">
							<div class="template2-text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at metus eget purus vulputate porta. Vestibulum in porttitor tellus. Praesent dictum tincidunt enim quis placerat.
									Nullam suscipit odio hendrerit ligula ornare, vitae facilisis mi auctor. Proin id sodales leo, non volutpat arcu. Fusce nec metus et massa tincidunt dictum vel ut lectus. Phasellus
									eu aliquam leo, quis interdum leo. In imperdiet auctor porttitor. Sed in ante nec urna laoreet auctor. Praesent viverra leo est, id vestibulum mi scelerisque ultrices.

									Quisque at lorem vitae enim rutrum tristique. Donec id tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam eu interdum
									nibh, nec scelerisque velit. Donec ultrices at ante sit amet posuere. Nulla facilisi. Mauris id porttitor diam. Cras id nunc magna. Mauris rutrum egestas augue non tempus.</p>
							</div>
							<div class="template2-img">

							</div>
						</div>
					{%endif%}
					{%if templates.templateid == 3%}
						<div class="template3">
							<div class="template3-img">

							</div>
						</div>
					{%endif%}
					{%if templates.templateid == 4%}
						<div class="template4">
							<div class="template4-text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at metus eget purus vulputate porta. Vestibulum in porttitor tellus. Praesent dictum tincidunt enim quis placerat.
									Nullam suscipit odio hendrerit ligula ornare, vitae facilisis mi auctor. Proin id sodales leo, non volutpat arcu. Fusce nec metus et massa tincidunt dictum vel ut lectus. Phasellus
									eu aliquam leo, quis interdum leo. In imperdiet auctor porttitor. Sed in ante nec urna laoreet auctor. Praesent viverra leo est, id vestibulum mi scelerisque ultrices.

									Quisque at lorem vitae enim rutrum tristique. Donec id tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam eu interdum
									nibh, nec scelerisque velit. Donec ultrices at ante sit amet posuere. Nulla facilisi. Mauris id porttitor diam. Cras id nunc magna. Mauris rutrum egestas augue non tempus.

									Integer varius orci in nisl lobortis, vel auctor nulla semper. Phasellus eu nisi odio. Donec nec porta neque. Morbi tellus sapien, semper a lectus at, feugiat dictum metus.
									Maecenas quis metus venenatis, pellentesque lorem quis, suscipit sem. Pellentesque suscipit felis non venenatis venenatis. Maecenas enim tellus, ultrices quis eros id, interdum
									euismod leo. Nam feugiat iaculis mi eget scelerisque. Nunc vestibulum faucibus dolor vel aliquam. Vestibulum a pharetra libero. Nullam luctus luctus tortor, sit amet sagittis felis
									mollis ut. Sed sem mauris, tempus vitae congue sed, elementum id sapien. Mauris dictum enim eget dui pellentesque, id volutpat ligula finibus. Cras mollis, diam eu ultricies mattis,
									ante turpis porttitor quam, a auctor felis purus ac dui. Nam mattis purus sit amet neque condimentum, eu tempor diam congue.

									Curabitur nec consectetur dolor. Cras nunc nunc, lacinia in ultricies eget, pharetra quis orci. Quisque condimentum, ligula vel hendrerit vehicula, urna lectus pulvinar ligula,
									sit amet varius justo eros ac mi. Nam hendrerit est at fringilla pretium. Vestibulum sed velit ultricies, sodales dolor vitae, ullamcorper mauris. Aliquam luctus turpis a arcu
									aliquet varius id ac mauris. Donec pellentesque ullamcorper lacus ut condimentum. Morbi fermentum, nisi sed sagittis ultricies, nulla magna sodales lacus, a gravida nisl eros eu
									elit. Cras et nisi massa. Donec at placerat ipsum, in volutpat elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas cursus
									wfhkh huuwidfhifh ihfhihwfai fhawihfiah
								</p>
							</div>
						</div>
					{%endif%}
					{%if templates.templateid == 5%}
						<div class="template5">
							<div class="template5-text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at metus eget purus vulputate porta. Vestibulum in porttitor tellus. Praesent dictum tincidunt enim quis placerat.
									Nullam suscipit odio hendrerit ligula ornare, vitae facilisis mi auctor. Proin id sodales leo, non volutpat arcu. Fusce nec metus et massa tincidunt dictum vel ut lectus. Phasellus
									eu aliquam leo, quis interdum leo. In imperdiet auctor porttitor. Sed in ante nec urna laoreet auctor. Praesent viverra leo est, id vestibulum mi scelerisque ultrices.

									Quisque at lorem vitae enim rutrum tristique. Donec id tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam eu interdum
									nibh, nec scelerisque velit. Donec ultrices at ante sit amet posuere. Nulla facilisi. Mauris id porttitor diam. Cras id nunc magna. Mauris rutrum egestas augue non tempus.

									Integer varius orci in nisl lobortis, vel auctor nulla semper. Phasellus eu nisi odio. Donec nec porta neque. Morbi tellus sapien, semper a lectus at, feugiat dictum metus.
									Maecenas quis metus venenatis, pellentesque lorem quis, suscipit sem. Pellentesque suscipit felis non venenatis venenatis. Maecenas enim tellus, ultrices quis eros id, interdum
									euismod leo. Nam feugiat iaculis mi eget scelerisque. Nunc vestibulum faucibus dolor vel aliquam. Vestibulum a pharetra libero. Nullam luctus luctus tortor, sit amet sagittis felis
									mollis ut. Sed sem mauris, tempus vitae congue sed, elementum id sapien. Mauris dictum enim eget dui pellentesque, id volutpat ligula finibus. Cras mollis, diam eu ultricies mattis,
									ante turpis porttitor quam, a auctor felis purus ac dui. Nam mattis purus sit amet neque condimentum, eu tempor diam congue.

									Curabitur nec consectetur dolor. Cras nunc nunc, lacinia in ultricies eget, pharetra quis orci. Quisque condimentum, ligula vel hendrerit vehicula, urna lectus pulvinar ligula,
									sit amet varius justo eros ac mi. Nam hendrerit est at fringilla pretium. Vestibulum sed velit ultricies, sodales dolor vitae, ullamcorper mauris. Aliquam luctus turpis a arcu
									aliquet varius id ac mauris. Donec pellentesque ullamcorper lacus ut condimentum. Morbi fermentum, nisi sed sagittis ultricies, nulla magna sodales lacus, a gravida nisl eros eu
									elit. Cras et nisi massa. Donec at placerat ipsum, in volutpat elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas cursus
									wfhkh huuwidfhifh ihfhihwfai fhawihfiah
								</p>
							</div>
						</div>
					{%endif%}
					{%if templates.templateid == 6%}
						<div class="template6">
							<div class="template6-text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at metus eget purus vulputate porta. Vestibulum in porttitor tellus. Praesent dictum tincidunt enim quis placerat.
									Nullam suscipit odio hendrerit ligula ornare, vitae facilisis mi auctor. Proin id sodales leo, non volutpat arcu. Fusce nec metus et massa tincidunt dictum vel ut lectus. Phasellus
									eu aliquam leo, quis interdum leo. In imperdiet auctor porttitor. Sed in ante nec urna laoreet auctor. Praesent viverra leo est, id vestibulum mi scelerisque ultrices.

									Quisque at lorem vitae enim rutrum tristique. Donec id tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam eu interdum
									nibh, nec scelerisque velit. Donec ultrices at ante sit amet posuere. Nulla facilisi. Mauris id porttitor diam. Cras id nunc magna. Mauris rutrum egestas augue non tempus.</p>
							</div>
							<div class="template6-img">

							</div>
						</div>
					{%endif%}
					{%if templates.templateid == 7%}
						<div class="template7">
							<div class="template7-img">

							</div>
							<div class="template7-text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at metus eget purus vulputate porta. Vestibulum in porttitor tellus. Praesent dictum tincidunt enim quis placerat.
									Nullam suscipit odio hendrerit ligula ornare, vitae facilisis mi auctor. Proin id sodales leo, non volutpat arcu. Fusce nec metus et massa tincidunt dictum vel ut lectus. Phasellus
									eu aliquam leo, quis interdum leo. In imperdiet auctor porttitor. Sed in ante nec urna laoreet auctor. Praesent viverra leo est, id vestibulum mi scelerisque ultrices.

									Quisque at lorem vitae enim rutrum tristique. Donec id tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam eu interdum
									nibh, nec scelerisque velit. Donec ultrices at ante sit amet posuere. Nulla facilisi. Mauris id porttitor diam. Cras id nunc magna. Mauris rutrum egestas augue non tempus.</p>
							</div>
						</div>
					{%endif%}
					{%if templates.templateid == 8%}
						<div class="template8">
							<div class="template8-text">
								<p>
									In imperdiet auctor porttitor. Sed in ante nec urna laoreet auctor. Praesent viverra leo est, id vestibulum mi scelerisque ultrices.
									Quisque at lorem vitae enim rutrum tristique. Donec id tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam eu interdum
									nibh, nec scelerisque velit. Donec ultrices at ante sit amet posuere. Nulla facilisi.
								</p>
							</div>
							<div class="template8-img">

							</div>
							<div class="template8-text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at metus eget purus vulputate porta. Vestibulum in porttitor tellus. Praesent dictum tincidunt enim quis placerat.
									Nullam suscipit odio hendrerit ligula ornare, vitae facilisis mi auctor. Proin id sodales leo, non volutpat arcu. Fusce nec metus et massa tincidunt dictum vel ut lectus. Phasellus
									eu aliquam leo, quis interdum leo.</p>
							</div>
						</div>
					{%endif%}
					{%if templates.templateid == 9%}
						<div class="template9">
							<div class="template9-text">
								<p>
									In imperdiet auctor porttitor. Sed in ante nec urna laoreet auctor. Praesent viverra leo est, id vestibulum mi scelerisque ultrices.
									Quisque at lorem vitae enim rutrum tristique. Donec id tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam eu interdum
									nibh, nec scelerisque velit. Donec ultrices at ante sit amet posuere. Nulla facilisi.
								</p>
							</div>
							<div class="template9-img">

							</div>
							<div class="template9-text">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla at metus eget purus vulputate porta. Vestibulum in porttitor tellus. Praesent dictum tincidunt enim quis placerat.
									Nullam suscipit odio hendrerit ligula ornare, vitae facilisis mi auctor. Proin id sodales leo, non volutpat arcu. Fusce nec metus et massa tincidunt dictum vel ut lectus. Phasellus
									eu aliquam leo, quis interdum leo.</p>
							</div>
						</div>
					{%endif%}
					{%if templates.templateid == 10%}
						<div class="template10">
							<div class="template10-img">

							</div>
							<div class="template10-text">
								<p>
									In imperdiet auctor porttitor. Sed in ante nec urna laoreet auctor. Praesent viverra leo est, id vestibulum mi scelerisque ultrices.
									Quisque at lorem vitae enim rutrum tristique. Donec id tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam eu interdum
									nibh, nec scelerisque velit. Donec ultrices at ante sit amet posuere. Nulla facilisi.
								</p>
							</div>
							<div class="template10-img">

							</div>
						</div>
					{%endif%}
					{%if templates.templateid == 11%}
						<div class="template11">
							<div class="template11-img">

							</div>
							<div class="template11-text">
								<p>
									In imperdiet auctor porttitor. Sed in ante nec urna laoreet auctor. Praesent viverra leo est, id vestibulum mi scelerisque ultrices.
									Quisque at lorem vitae enim rutrum tristique. Donec id tristique mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam eu interdum
									nibh, nec scelerisque velit. Donec ultrices at ante sit amet posuere. Nulla facilisi.
								</p>
							</div>
							<div class="template11-img">

							</div>
						</div>
					{%endif%}
				{%endfor%}
			</div>
		</div>
		<div id="fotter">
			<div class="socials">
				<a href="https://www.facebook.com/Praktyczna-pani-103977331815634">
					<div class="fb">
						<i class="icon-facebook"></i>
					</div>
				</a>
				<div class="tw">
					<i class="icon-twitter"></i>
				</div>
				<div class="ig">
					<i class="icon-instagram"></i>
				</div>
				<div class="mail">
					<i class="icon-mail"></i>
				</div>
			</div>
			<p>2021 Praktyczna Pani.pl&copy; wszelkie prawa zastrzeżone</p>
		</div>
		<script src="{{ url_for('static', filename='js/slider.js') }}"></script>
	</body>
</html>