<html>
	<head>
		<title>Praktyczna Pani</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fontello.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Work+Sans:ital,wght@0,400;0,600;1,700&display=swap" rel="stylesheet">
		<style>
			#container
			{
				width:1400px;
			}
			#login-plate
			{
				width:400px;
				height:895px;
				margin-left:auto;
				margin-right:auto;
				margin-top:25px;
				background-color:#c2c2c2;
				border-radius:30px;
				margin-bottom:50px;
			}
			#register
			{
				width: 300px;
				margin-right:50px;
				margin-left:50px;
				text-align:center;
				margin-top:20px;
				margin-bottom:5px;
			}
		</style>
	</head>
	<body>
		<div id="container">
			<div id="topbar">
				<div id="logo">
					<h1>Praktyczna Pani</h1>
				</div>
				<div id="Basket">
					<i  class="icon-basket">&#8291;</i>
				</div>
				<a href="{{url_for('login')}}">
					<div id="Account">
						<i  class="icon-user-circle">&#8291;</i>
					</div>
				</a>
			</div>
			<div id="nav">
				<div id="nav-options">
					<a href="{{url_for('index')}}">
						<div class="nav-option">
							<p>Strona główna</p>
						</div>
					</a>
					<a href={{url_for('kategorie')}}>
						<div class="nav-option">
							<p>Sklep</p>
						</div>
					</a>
					<div class="nav-option">
						<p>Blog</p>
					</div>
					<div class="nav-option">
						<p>O nas</p>
					</div>
					<div class="nav-option">
						<p>Kontakt</p>
					</div>
				</div>
			</div>
			<div id="content">
				<div id="login-plate">
					<form method="POST" action="">
						<input name="nickname" type="text" placeholder="nazwa" onfocus="this.placeholder=''" onblur="this.placeholder='nazwa'" >
						<input name="name" type="text" placeholder="imię" onfocus="this.placeholder=''" onblur="this.placeholder='imię'" >
						<input name="surename" type="text" placeholder="nazwisko" onfocus="this.placeholder=''" onblur="this.placeholder='nazwisko'" >
						<select name="birthday" class="birthday">
							<option value="0">Dzień</option>
							{%for a in range(1,32)%}
							<option value="{{a}}">{{a}}</option>
							{%endfor%}
						</select>
						<select name="birthmonth" class="birthmonth">
							<option value="0">Miesiąc</option>
							{%for a in range(1,13)%}
							<option value="{{a}}">{{a}}</option>
							{%endfor%}
						</select>
						<select name="birthyear" class="birthyear">
							<option value="0">Rok urodzenia</option>
							{%for a in range(1900,2022)[::-1]%}
							<option value="{{a}}">{{a}}</option>
							{%endfor%}
						</select>
						<select name="sex">
							<option value="0">Płeć</option>
							<option value="mężczyzna">mężczyzna</option>
							<option value="kobieta">kobieta</option>
							<option value="inna">inna</option>
						</select>
						<input name="mail"type="mail" placeholder="email" onfocus="this.placeholder=''" onblur="this.placeholder='email'" >
						<input name="secoundmail"type="mail" placeholder="powtórz email" onfocus="this.placeholder=''" onblur="this.placeholder='powtórz email'" >
						<input name="password"type="password" placeholder="hasło" onfocus="this.placeholder=''" onblur="this.placeholder='hasło'" >
						<input name="secoundpassword"type="password" placeholder="powtórz hasło" onfocus="this.placeholder=''" onblur="this.placeholder='powtórz hasło'" >
						<div id="error">
							<b><p>{{error}}</p></b>
						</div>
						<div id="register">
							<a href="{{url_for('login')}}">
								<p>masz już konto? zaloguj się!</p>
							</a>
						</div>
						<input type="submit" value="Zarejestuj się">
					</form>
				</div>
			</div>
		</div>
		<div id="fotter">
			<div class="socials">
				<a href="https://www.facebook.com/Praktyczna-pani-103977331815634">
					<div class="fb">
						<i class="icon-facebook"></i>
					</div>
				</a>
				<div class="tw">
					<i class="icon-twitter"></i>
				</div>
				<div class="ig">
					<i class="icon-instagram"></i>
				</div>
				<div class="mail">
					<i class="icon-mail"></i>
				</div>
			</div>
			<p>2021 Praktyczna Pani.pl&copy; wszelkie prawa zastrzeżone</p>
		</div>
	</body>
</html>