
.icon-basket:before { content: '\e800'; } /* '' */
.icon-ok-circled2:before { content: '\e801'; } /* '' */
.icon-ok-circled:before { content: '\e802'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-cart-plus:before { content: '\f217'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */